@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
body {
    font-family: Creepster;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: rgba(255, 0, 0, 0.5);
    background-color: black;
}

.imageGrid {
    display: grid;
    grid-template-columns: 40% auto 40%;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imageGrid > div {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

#jacobHeadDiv {
    position: relative;
}

#jacobSmile {
    width: 60px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#no {
    position: relative;
    z-index: 2;
    width: 100px;
}
